.projects-list {
  >:first-child {
    margin-bottom: 20px;
  }
  
  a.project {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    * {
      width: fit-content;
      text-align: center;
    }
  }
}